td>label.input.input-group.date>.form-control.hasDatepicker {
  height: 25px;
}

td>label.input.input-group.date>span.input-group-addon {
  padding: 2px 7px;
}
  
td>label.input.input-group.date>span.input-group-addon>span.icon-append.fa.fa-calendar {
   font-size: 13px;  
}


